{% extends "index.html" %}
{% block main %}

<h1>Car edit</h1>

<form method="post" action="{{ url_for('.update_car') }}">
<dl>
    <p>
        <label><h6>Registration Number:</h6></label>
    </p>
<p>
<input name="inputRegistrationNumber" value="{{ car['car_registration_number'] }}"
                 type="text" placeholder="registration number" autocomplete="off" required>
</p>
    <p>
        <label><h6>Type:</h6></label>
    </p>
<p>
<input name="inputType" value="{{ car['car_type'] }}"
                 type="text" placeholder="type" autocomplete="off" required>
</p>
    <p>
        <label><h6>Model:</h6></label>
    </p>
<p>
<input name="inputModel" value="{{ car['car_model'] }}"
                 type="text" placeholder="type" autocomplete="off" required>
</p>

</dl>
<p>
<input name="id" value="{{ car['car_id'] }}" type="hidden">
<input type="submit" value="Submit">
</p>
</form>

{% endblock %}