<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="header">
  <h1>Haron ERP</h1>
</div>
<div class="sidenav">
    <h2>Table manipulation</h2>
  <a href="{{ url_for('.funerals') }}">Funerals</a>
    <a href="{{ url_for('.clients') }}">Clients</a>
  <a href="{{ url_for('.cemeteries') }}">Cemeteries</a>
  <a href="{{ url_for('.mortuaries') }}">Mortuaries</a>
    <a href="{{ url_for('.workers') }}">Workers</a>
    <a href="{{ url_for('.cars') }}">Cars</a>
    <h2>Reports</h2>
    <a href="{{ url_for('.get_free_workers') }}">FreeWorkers</a>
    <a href="{{ url_for('.get_incompleted_funerals') }}">IncompletedFunerals</a>
    <a href="{{ url_for('.get_freeplaces') }}">Cemetery's free places</a>
    <a href="{{ url_for('.get_cemetery_clients') }}">Cemetery's clients</a>
    <a href="{{ url_for('.get_mortuary_clients') }}">Mortuary's clients</a>
</div>
<div class="main">
    <p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    </p>
    {% block main %} <h1> Welcome to managment system of "Haron" Funeral Agency </h1> {% endblock %}
</div>

</body>
</html>
