{% extends "index.html" %}
{% block main %}

<h1>Mortuary add</h1>

<form method="post" action="{{ url_for('.create_mortuary') }}">
<dl>
    <p>
        <label><h6>Name:</h6></label>
    </p>
<p>
<input name="inputName"
                 type="text" placeholder="Central Morgue" autocomplete="off" required>
</p>
    <p>
        <label><h6>Address:</h6></label>
    </p>
<p>
<input name="inputAddress"
                 type="text" placeholder="NYC, Broadway" autocomplete="off" required>
</p>

</dl>
<p>
<input type="submit" value="Create">
</p>
</form>


{% endblock %}